@import '../../css/variables.module.scss';

.nav {
  background-color: $primary;
  padding: 1em;
  width: 100%;
  margin-bottom: 5rem;

  .navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    .navItem {
      margin: 0;

      .navLink {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: darken(white, 10%)
        }
      }
    }
  }
}
