@import '../../css/variables.module.scss';

.nav {
  background-color: $primary;
  padding: 1em;
  width: 100%;
  margin-bottom: 5rem;

  .navList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    max-width: $max-content-width;

    .navItem {
      margin: 0;

      &:first-child {
        margin-right: auto;
      }

      &:not(:first-child) {
        margin-left: 1em;
      }

      .navLink {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: darken(white, 10%)
        }
      }
    }
  }
}
