@import '../../../css/variables.module.scss';

.adminManagement { 
  .createProduct {
    border: $border-grey;
    padding: 2em;
    background-color: $white;
    margin-bottom: 2em;
    max-width: 600px;
    margin: 0 auto;

    form {
      div {
        margin-bottom: 1em;

        label {
          display: block;
          margin-bottom: 0.5em;
        }

        input {
          width: 100%;
          border: 1px solid #ccc;
          border-radius: $border-radius;
        }
      }

      button {
        background-color: $primary;
        color: white;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;

        &:hover {
          background-color: $primary-light;
        }
      }
    }

    .successMessage {
      color: green;
      margin-top: 1em;
    }

    .errorMessage {
      color: red;
      margin-top: 1em;
    }
  }

  .productList {
    margin-top: 2em;

    h2 {
      margin-bottom: 1em;
    }

    ul {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1em;
      max-width: $max-content-width;

      @media (min-width: 769px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      }

      @media (min-width: 769px) and (max-width: $max-content-width) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    li {
      background-color: $white;
      border: 1px solid #ccc;
      border-radius: $border-radius;
      padding: 1em;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center;

      p {
        margin: 0.5em 0;
      }

      img {
        max-width: 100%;
        height: auto;
        border-radius: $border-radius;
        margin-top: 0.5em;
      }

      button {
        background-color: $primary;
        color: white;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        padding: 0.5em 1em;
        margin-top: 0.5em;

        &:hover {
          background-color: $primary-light;
        }

        &:not(:last-child) {
          margin-right: 0.5em;
        }
      }
    }
  }

  .userList {
    margin-top: 2em;
    max-width: $max-content-width;

    .search {
      margin: 0 0 1em 0;

      input {
        border: 1px solid #ccc;
        border-radius: $border-radius;
      }
    }

    h2 {
      margin-bottom: 1em;
    }

    ul {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1em;
    }

    li {
      background-color: $white;
      border: 1px solid #ccc;
      border-radius: $border-radius;
      padding: 1em;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center;

      p {
        margin: 0.5em 0;
      }
    }
  }

  .editProduct {
    margin-top: 2em;
    padding: 2em;
    background-color: $white;
    border: 1px solid #ccc;
    border-radius: $border-radius;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h2 {
      margin-bottom: 1em;
    }

    form {
      div {
        margin-bottom: 1em;

        label {
          display: block;
          margin-bottom: 0.5em;
        }

        input {
          width: 100%;
          border: 1px solid #ccc;
          border-radius: $border-radius;
        }
      }

      button {
        background-color: $primary;
        color: white;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        padding: 0.5em 1em;
        margin-top: 0.5em;

        &:hover {
          background-color: $primary-light;
        }

        &:not(:last-child) {
          margin-right: 0.5em;
        }
      }
    }
  }

  .successMessage {
    color: green;
    margin-top: 1em;
  }

  .errorMessage {
    color: red;
    margin-top: 1em;
  }

  .orderList {
    margin-top: 2em;

    h2 {
      margin-bottom: 1em;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1em;
      margin-bottom: 1em;

      @media (min-width: 769px) {
        flex-direction: row;
      }

      label {
        display: flex;
        flex-direction: column;
        font-weight: bold;

        input {
          margin-top: 0.5em;
          padding: 0.5em;
          border: 1px solid #ccc;
          border-radius: $border-radius;
        }
      }

      button {
        align-self: flex-end;
        background-color: $primary;
        color: white;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        padding: 0.5em 1em;

        &:hover {
          background-color: $primary-light;
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1em;
    }

    li {
      background-color: $white;
      border: 1px solid #ccc;
      border-radius: $border-radius;
      padding: 1em;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center;

      p {
        margin: 0.5em 0;
      }
    }
  }
}
