@import '../../../css/variables.module.scss';

.adminManagement {
  .createProduct {
    border: $border-grey;
    padding: 2em;
    background-color: $white;
    margin-bottom: 2em;

    form {
      div {
        margin-bottom: 1em;

        label {
          display: block;
          margin-bottom: 0.5em;
        }

        input {
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }

      button {
        background-color: $primary;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: $primary-light;
        }
      }
    }

    .successMessage {
      color: green;
      margin-top: 1em;
    }

    .errorMessage {
      color: red;
      margin-top: 1em;
    }
  }
}
